<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IForeCastService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ForeCastService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IForeCastService" contract="ZeroApp.ForecastTracker.Service.Contracts.IForeCastService"
                name="BasicHttpBinding_IForeCastService" />
        </client>
    </system.serviceModel>
</configuration>