<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DarkApiKey" value="015731dcb9ec3d364cd5c84c3b94f02b"/>
    <add key="GeoLocationApi" value="48f85e64865e4eca943f27192cd81c5b"/>
    <add key="GeoLocationBaseUrl" value="https://api.opencagedata.com/geocode/v1/json"/>
  </appSettings>
  <connectionStrings>
    <add name="ForecastDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Narek\Documents\testdb.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>